*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search input {
    padding-left: 45px;
    height: 48px;
    width: 1100px;
    border-radius: 10px;
    border: 1px solid;

&__input-container {
    position: relative;
}

&__search-logo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: gray;
}

input {
    padding-left: 45px;
    height: 48px;
    width: 1100px;
    border-radius: 10px;
    border: 1px solid;
}

}